*{
    font-family: "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h4{
    text-align: center;
}
#me{
    position: relative;

    height: 100vh;
    margin: 0 auto;
    display: block;
}
#me video{
    position: relative !important;
}
#remote-container{
    position: absolute;
    display: flex;
    z-index: 1000;
    height: 25vh;
    width: 100vw;
    bottom: 0;
    overflow-x: auto;
}
#remote-container video{
    width: calc(25vh*0.75) !important;
    min-width: 100px;
    position: relative !important;
}
